body {
    font-size: 14px;
    font-family: "微软雅黑", Helvetica, "宋体";
    color: #323232;
    background: #f2f7f9;
    margin: 0 0 56px 0;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, dl, form, fieldset, legend {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-type: none;
}

img {
    border: none;
    vertical-align: top;
}

a:link, a:visited {
    text-decoration: none;
    color: #3882a3;
}

a:hover {
    text-decoration: underline;
    color: #f16529;
}

label .label-text, label input {
    vertical-align: middle;
}

/* 输入框样式 */
input[type=text], input[type=password], textarea, select {
    padding: 6px;
    border: 1px solid #ccc;
    background: #fff;
    vertical-align: middle;
    font-size: 13px;
    margin: 0;
}

    input[type=text]:focus, input[type=password]:focus, textarea:focus {
        border-color: #8dc0d7;
    }

/* 按钮样式 */
input[type=button], input[type=reset], input[type=submit] {
    width: 64px;
    height: 34px;
    line-height: 28px;
    padding: 2px 3px 4px 3px;
    font-family: "微软雅黑";
    color: #787878;
    margin: 0 2px;
    border: none;
    cursor: pointer;
    text-align: center;
    background: url(/Content/Images/sprites.png) no-repeat -3px -58px;
    vertical-align: middle;
    text-shadow: 1px 1px 0 #fff;
}

    input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
        color: #fff;
        background-position: -3px -101px;
        text-shadow: none;
    }

    input[type=button]:active, input[type=reset]:active, input[type=submit]:active {
        position: relative;
        top: 1px;
        color: #fff;
        text-shadow: none;
    }

/* 带提示的文本框 */
.textbox-with-label {
    position: relative;
    border: 1px solid #ddd;
    padding: 2px 3px;
    overflow: hidden;
    background: #fafafa;
}

.textbox-with-label-focus {
    background: none;
}

.textbox-with-label label {
    position: absolute;
    left: 3px;
    top: 2px;
    font-size: 12px;
    font-style: italic;
    color: #888;
    cursor: text;
}

.textbox-with-label input, .textbox-with-label textarea {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: none;
    line-height: inherit;
}

.textbox-with-label input, .textbox-with-label textarea {
    outline: none;
}

/* 必填提示 */
.required {
    color: #f03;
    font-family: Arial;
}

/* 验证码图片 */
.captcha-img {
    vertical-align: middle;
    cursor: pointer;
}


/* 分页条 */
.pager {
    position: relative;
    line-height: 21px;
    min-height: 21px;
    _zoom: 1;
}

.pager-next, .pager-prev {
    position: absolute;
    top: 0;
}

.pager-next {
    right: 0;
}

.pager-prev {
    left: 0;
}

.pager-numbers {
    text-align: center;
}

    .pager-numbers li {
        display: inline;
    }

.pager-current {
    font-weight: bold;
}

.pager-numbers span, .pager-numbers a {
    padding: 0 5px;
}


/* 布局样式 */
.boundary {
    width: 960px;
    margin: 0 auto;
}

.titlebar {
    font-size: 16px;
    margin-bottom: 10px;
}

.main {
    width: 692px;
    float: left;
}

    .main .inner {
        /*margin: 18px 20px;*/
    }

.sidebar {
    width: 240px;
    float: right;
}

    .sidebar section {
        margin-bottom: 20px;
        font-size: 13px;
    }


/* 清除浮动 */
.clearfix {
    _zoom: 1;
    *min-height: 1%;
}

    .clearfix:after {
        display: block;
        overflow: hidden;
        clear: both;
        height: 0;
        visibility: hidden;
        content: ".";
    }


/* 页头 */
.header {
    min-width: 960px;
    height: 82px;
    margin-bottom: 25px;
    background: url(/Content/Images/sprites-repeatx.png) repeat-x;
}

    .header .boundary {
        position: relative;
        height: 100%;
    }

.logo {
    padding-top: 18px;
}

/* 页头导航 */
.global-nav {
    position: absolute;
    right: 300px;
    bottom: 0;
}

    .global-nav li {
        float: left;
        margin-left: 40px;
    }

    .global-nav a {
        line-height: 21px;
        padding: 6px 0;
        display: block;
        text-decoration: none;
        text-shadow: 1px 1px 0 #f5f8fa;
    }

        .global-nav a:hover {
            color: #ff7e00;
        }

    .global-nav .current {
        border-bottom: 1px solid #f2f7fa;
    }

        .global-nav .current a {
            background: #f2f7fa;
            border-radius: 4px 4px 0 0;
            border: 1px solid #aecedb;
            border-bottom: none;
            padding-left: 16px;
            padding-right: 16px;
            font-weight: bold;
            box-shadow: inset 0 1px 0 #fff;
            text-shadow: 1px 1px 0 #fff;
        }

/* 页脚 */
.footer {
    width: 100%;
    padding: 6px 0;
    border-top: 1px solid #a7c0ca;
    background: #f2f7fa url(/Content/Images/sprites-repeatx.png) left -115px repeat-x;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

    .footer nav {
        float: left;
        position: relative;
        font-size: 13px;
        line-height: 21px;
    }

.current-position {
    border: 1px solid #bababa;
    border-radius: 3px;
    background: #fefefe url(/Content/Images/sprites.png) no-repeat right 7px;
    height: 21px;
    display: inline-block;
    padding: 0 25px 0 8px;
    cursor: pointer;
    color: #528aa3;
}

    .current-position.expanded {
        background-position: right -19px;
    }

.express-nav {
    width: 100%;
    background: #fefefe;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    right: 0;
    bottom: 22px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
    visibility: hidden;
    z-index: 1100;
}

    .express-nav li {
        line-height: 21px;
    }

    .express-nav a {
        display: block;
        padding: 3px 8px;
    }

    .express-nav .current a {
        font-weight: bold;
    }

    .express-nav .current a, .express-nav a:hover {
        background: #f0f7fa;
    }

    .express-nav li:first-child a {
        padding-top: 5px;
    }

    .express-nav li:last-child a {
        padding-bottom: 5px;
    }

.manage-info {
    float: left;
    margin-left: 20px;
    line-height: 23px;
}

    .manage-info em {
        color: #f03;
        font-weight: bold;
    }

#comment-manage {
    display: none;
}

.copyright {
    float: right;
    line-height: 22px;
    font-family: Arial;
    padding-right: 305px;
    background: url(/Content/Images/sprites.png) no-repeat right -316px;
    vertical-align: middle;
    text-shadow: 1px 1px 0 #fff;
}


.article {
    margin-bottom: 25px; /*border-bottom: 1px dotted #999;*/
    box-shadow: 0 0 6px #deeaef;
    background: #fff;
    border-radius: 5px;
    padding: 18px 20px;
}

.article-posttime address, .article-posttime time {
    color: #528aa3;
    display: inline;
}

.article-posttime time {
    font-family: arial;
    font-style: italic;
}

.article header {
    position: relative;
    padding-left: 55px;
    _zoom: 1;
}

    .article header li {
        float: left;
        padding-right: 1em;
        color: #888;
        font-size: 13px;
        line-height: 19px;
    }

.article-postdate {
    overflow: hidden;
    font-size: 12px;
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: #666;
    background: url(/Content/Images/sprites.png) no-repeat left -259px;
    line-height: 19px;
}

    .article-postdate .day {
        color: #f16529;
        display: block;
        font-weight: bold;
        font-size: 15px;
        line-height: 23px;
        padding: 1px 0;
        font-family: "Helvetica Neue", Arial, sans-serif;
    }

.article-title {
    font-size: 17px;
    line-height: 24px;
    min-height: 24px;
    padding-bottom: 3px;
}

    .article-title, .article-title a {
        color: #f03;
    }

/* 文章内容格式 */
.article-content {
    margin: 15px 4px 0 4px;
    line-height: 25px;
    text-align: justify;
    font-size: 14px;
    text-justify: inter-ideograph;
}

body.article-content {
    margin: 5px;
    background: #fff;
}

.article-content a {
    text-decoration: underline;
}

.article-content p {
    margin: 12px 0;
    text-indent: 2em;
}

.article-content ul {
    list-style-type: disc;
    margin-left: 2em;
}

.article-content ol {
    list-style-type: decimal;
    margin-left: 2em;
}

.article-content h1,
.article-content h2,
.article-content h3 {
    font-size: 16px;
    margin: 20px 0 12px 0;
    line-height: 25px;
}

.article-content h4,
.article-content h5,
.article-content h6 {
    font-size: 14px;
    margin: 15px 0 12px 0;
}

/*.article-content code,
.article-content pre,
.article-content blockquote {
    padding: 6px 2%;
    display: block;
    border: 2px dashed #cecece;
    background: #ffffef;
    text-indent: 0;
}

.article-content code, .article-content pre {
    font-family: Monaco, "Courier New", Arial;
}*/

.article-content table {
    width: 60%;
    border-collapse: collapse;
}

.article-content th,
.article-content td {
    border: 1px solid #333;
    padding: 2px 4px;
}

.article footer {
    margin-top: 20px;
    line-height: 21px;
    padding: 0 4px;
    color: #888;
    padding-bottom: 5px;
    clear: both;
}

    .article footer li {
        float: left;
        font-size: 13px;
    }

.article-entry {
    *width: 120px;
    float: right !important;
    font-size: 14px;
    font-style: italic;
    text-align: right;
}

    .article-entry a {
        color: #f16529;
    }


/* 边栏文章列表 */
.sidebar-articlelist li {
    line-height: 21px;
    text-align: justify;
    padding-bottom: 6px;
    margin-top: 6px;
    border-bottom: 1px dotted #bbb;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

    .sidebar-articlelist li:last-child {
        border-bottom: none;
    }


/* 边栏文章排行 */
.sidebar-articlerank-viewcount {
    width: 15%;
    float: left;
    color: #f03;
    font-family: Georgia, serif;
}

.sidebar-articlerank-title {
    width: 85%;
    float: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* 边栏链接列表 */
.sidebar-links dt {
    line-height: 21px;
}

.sidebar-links dd {
    font-size: 12px;
    color: #999;
    margin: 3px 0 6px 15px;
}


/* 微博挂件 */
.sidebar-weibo-inner {
    background: #fff;
    height: 450px;
    overflow: hidden;
}

.sidebar-weibo iframe {
    margin: 0;
    width: 100%;
    height: 450px;
}


/* 边栏其他功能列表 */
.sidebar-others li {
    width: 47%;
    float: left;
    margin: 0 3% 5px 0;
}

.sidebar-others a {
    line-height: 18px;
    padding: 4px 0 4px 32px;
    display: block;
    background: #deeaef url(/Content/Images/sprites.png) no-repeat;
    border-radius: 3px;
}

    .sidebar-others a:hover {
        background-color: #7cb6ce;
        color: #fff;
        text-decoration: none;
    }

.sidebar-others .login a {
    background-position: 8px -150px;
}

.sidebar-others .message a {
    background-position: 8px -182px;
}

.sidebar-others .rss a {
    background-position: 8px -214px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    border-radius: 3px;
    cursor: pointer;
    transition: color .2s ease;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
    border-radius: 0;
}