<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="QiBuBlogEntities" connectionString="metadata=res://*/QiBuBlog.csdl|res://*/QiBuBlog.ssdl|res://*/QiBuBlog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qds161903573.my3w.com;initial catalog=qds161903573_db;user id=qds161903573;password=enhua520;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>