@{
    ViewBag.Title = "登录";
}
<link href="~/Content/login.css" rel="stylesheet" />
<form id="login-form" class="login-form" action="@Url.Content("/Login/Authority")" method="post">
    <fieldset>
        <legend>用户登录</legend>
        <p><label for="userName">用户名</label></p>
        <p><input id="userName" name="userName" type="text" size="25" /></p>
        <p><label for="password">密　码</label></p>
        <p><input id="password" name="password" type="password" size="25" /></p>
        <p><label for="captcha">验证码</label></p>
        <p class="captcha">
            <input id="captcha" name="captcha" type="text" size="4" maxlength="6" />
            <img data-src="@Url.Content("/Login/GetCaptcha")" data-bgcolor="255,255,255" data-formname="login" alt="点击更换验证码" class="captcha-img" />
            <input type="submit" value="登 录" />
        </p>
    </fieldset>
</form>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/captcha.js"></script>
<script type="text/javascript">//<![CDATA[
    new Captcha($("p.captcha"));

    $("#login-form").validate({
        flow: [
            { fields: "userName", errorText: "用户名不能为空" },
            { fields: "password", errorText: "密码不能为空" },
            { fields: "captcha", errorText: "验证码不能为空" }
        ]
    });

    $("#userName").focus();
//]]></script>