@using System.Globalization
@{
    ViewBag.Title = "Home";
}
<div class="main">
    <div class="inner">
        
    </div>
</div>

<aside class="sidebar">
    @{
        Html.RenderPartial("SidebarLinks");
    }
</aside>