<!DOCTYPE html>
<html>
<head>
    <title>QiBu Blog</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/style/images/favicon.ico" />
    @if (!string.IsNullOrEmpty(ViewBag.Keywords))
    {
        <meta name="Keywords" content="@ViewBag.Keywords" />
    }
    @if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        <meta name="Description" content="@ViewBag.Description" />
    }
    <link href="~/Style/css/pub.css" rel="stylesheet" />
</head>

<body>
    <header id="header" class="header">
        <div class="boundary">
            <h1 class="logo"><a href="#">
                <img src="/style/images/logo.png" alt="" /></a></h1>
            <nav class="global-nav">
                <ul>
                    <li class="current"><a href="#">首页</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="body clearfix">
        <div class="boundary">@RenderBody()</div>
    </div>
    <footer id="footer" class="footer">
        <div class="boundary clearfix">
            <nav>
                当前位置：
            <span id="current-position" class="current-position">（无）</span>
                <ul id="express-nav" class="express-nav">
                </ul>
            </nav>
            <div class="copyright">Copyright &copy; 2018 <a href="http://qibu.net.cn">CodeMaker</a></div>
        </div>
    </footer>
    <script src="~/Style/js/jquery.js"></script>
    <script src="~/Style/js/pub.js"></script>
</body>
</html>
