<section class="sidebar-links">
    <h2 class="titlebar">友情链接</h2>
    <dl class="clearfix">
        <dt><a href="javascript:;" target="_blank">博客</a></dt>
        <dd>测试博客地址</dd>
    </dl>
</section>