<section class="sidebar-links">
    <h2 class="titlebar">友情链接</h2>
    <dl class="clearfix">
        <dt><a href="http://qibu.net.cn" target="_blank">原QiBu博客</a></dt>
        <dd>原MVC3+SQLLite版本，自定义ORM</dd>
    </dl>
</section>